<!DOCTYPE html>{% load static %}
<html lang="ro">
    <title>Evaluatir - Negăsit</title>
    <link rel="icon" href="{% static "evaluator/images/logo.ico" %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "evaluator/style.css" %}">
    <body>
        <div id="main">
            <img src="{% static "evaluator/images/error.svg" %}" alt="Ilustrație pagină negăsită">
            <h2>Pagina nu a fost găsită.</h2>
        </div>
    </body>
</html>